[Unit]
Description=flexbng service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/etc/init.d/flexbng-auto-start start &
WorkingDirectory=/root
StandardOutput=journal
StandardError=journal
SyslogIdentifier=flexbng
[Install]
WantedBy=multi-user.target
